body {
    padding: 0;
    margin: 0;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: "Poppins", sans-serif;
    
  }
  * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: rgba(78, 78, 78, 0.3);
    backdrop-filter: blur(30px);
    min-width: 100vw;
    position: fixed;
    z-index: 50;
  }
  nav ul {
    display: flex;
    justify-content: center;
  }
  nav ul li {
    list-style: none;
    margin: 0 26px;
    color: white;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  nav ul li a:hover {
    color: black;
    font-size: 1.02rem;
  }
  .left {
    font-size: 2rem;
    text-shadow: -0.07em -0.06em 0 #b9220b, -0.1em 0.04em 0 rgb(6, 137, 45);
    padding-left: 30px;
  }
  .firstSection {
    width: 98vw;
    max-width: 98vw;
    height: 80vh;
    overflow: none;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: left;
  }
  /* .firstSection div {
    width: 30%;
  } */
  .leftSection {
    font-size: 2rem;
    margin-left: 50px;
  }
  
  .button{
    margin-top: 2%;
    padding: 12px;
    width: 150px;
    height: 40px;
    font-weight: bold;
    background-color: rgb(0, 5, 152);
    color: rgb(251, 251, 251);
    border-radius: 10px;
    border: none;
  }
  .button:hover{
    cursor: pointer;
    background-color: rgb(0, 212, 255);
    color: rgb(0, 0, 0);
  }
  img {
    position: fixed;
    width: 35%;
    right: 10%;
    top: 15%;
  }

  .text-man {
    /* color: #cc0000; */
    font-size: 1.6em;
  }
  .name {
    font-size: 2rem;
    /* text-shadow: -0.07em -0.06em 0 #b9220b, -0.1em 0.04em 0 rgb(6, 137, 45); */
    color: rgb(0, 212, 255);
    font-weight: 700;
  }
  #element {
    color: rgb(0, 212, 255);
  }
  .secondSection {
    max-width: 99vw;
    margin: auto;
    height: 75vh;
  }
  .h1-secondSection {
    margin-left: 50px;
    font-size: 2rem;
    text-shadow: 2px 2px #ff0000;
  }
  .border-text {
    border-bottom: rgb(0, 212, 255) 4px solid;
  }
  #About{
    height: 12%;
    
  }
  #Projects{
    height: 30%
  }
  #Contact_Me{
    height: 30%
  }
  .p-secondSection {
    margin-top: 2%;
    margin-left: 50px;
    font-size: 1rem;
    padding: 30px;
    width: 50%;
    /* border: 0.5px solid rgb(138, 138, 138); */
    border-radius: 20px;
    background-color: hsla(0, 0%, 54%, 0.3);
    backdrop-filter: blur(30px);
  }
  .thirdSection {
    max-width: 99vw;
    margin: auto;
    height: 30vh;
  }
  .p-third{
    display: flex;
    align-items: center;
  }
  .p-thirdSection {
    margin-top: 2%;
    margin-left: 50px;
    font-size: 1rem;
    padding: 30px;
    width: 50%;
    /* border: 0.5px solid rgb(138, 138, 138); */
    border-radius: 20px;
    background-color: hsla(0, 0%, 54%, 0.3);
    backdrop-filter: blur(30px);
  }
  .fourthSection{
    max-width: 99vw;
    margin: auto;
    height: 75vh;

  }
  .logo{
   margin-top: 4em;
   height: 75%;
  margin-left: 50px;
  }
  .logo a, p{
    margin: 2% 0;
    display: flex;
    text-decoration: none;
    color: white;
  }
  .logo a:hover{
    color: rgb(0, 212, 255);
  }
  .logo svg{
    margin-right: 1%;
  }
  nav .cross{
    display: none;
}
nav .menu{
    display: none;
}

/* responsive code */

  @media screen and (max-width: 600px){

    .leftSection {
      font-size: 1.8rem;
      margin-top: 569px;
  }

  img {
    position: absolute;
    width: 82%;
    right: 10%;
    top: 15%;
    z-index: -100;
}
.h1-secondSection {
 margin-top: 178px;
 
}
.p-secondSection {
  margin-top: 8%;
  margin-left: 24px;
  margin-right: 109px;
  font-size: 15px;
  padding: 36px;
  width: 87%;
  /* border: 0.5px solid rgb(138, 138, 138); */
  border-radius: 20px;
  background-color: hsla(0, 0%, 54%, 0.3);
  backdrop-filter: blur(30px);
}
.thirdSection{
  margin-top: 104px;

}
.p-thirdSection {
  margin-top: 7%;
  margin-left: 23px;
  font-size: 1rem;
  padding: 52px;
  width: 88%;
  /* border: 0.5px solid rgb(138, 138, 138); */
  border-radius: 20px;
  background-color: hsla(0, 0%, 54%, 0.3);
  backdrop-filter: blur(30px);
}
.logo a, p {
  margin: 2% 0;
  display: flex;
  text-decoration: none;
  color: white;
  margin-bottom: 47px;
}
nav .cross {
  
    display: block;
    width: 35px;
    margin-right: 105px;
    z-index: 2;
    margin-top: -89px;
}


  nav .menu {
    display: block;
    width: 42px;
    margin-right: -17px;
    margin-left: 87px;
    
}

nav ul{
  backdrop-filter: blur(30px);
  background-color:#1766b3;
  display:inline;
  position: absolute;
  top: 0;
  right: 0;
  width: 192px;
  height: 100vh;
  padding-top: 50px;
  
}.left {
  font-size: 1.5rem;
  text-shadow: -0.07em -0.06em 0 #b9220b, -0.1em 0.04em 0 rgb(6, 137, 45);
  padding-left: 26px;
}
  }
